{% load static %}

<!-- Sidebar -->
<div class="navbar-nav sidebar-bg sidebar sidebar-dark accordion" id="accordionSidebar">
    <div class="d-flex align-items-center">
        <div class="">
            <button class="border-0" id="sidebarToggle" style="margin-bottom: 0px">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div>
                <i class="fa-solid fa-chart-area"></i>
                <span class="sidebar-brand-text mx-3">Stock Sim</span>
            </div>
        </a>
    </div>
    
    <!--<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa-solid fa-chart-area"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Stock Sim</div>
    </a>-->
    <ul class="navbar-nav sidebar-dark">
        <!-- Divider -->
        <li class="sidebar-divider my-0"></li>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <li class="sidebar-divider"></li>

        <li class="nav-item active">
            <div class="sidebar-heading">
                Interface
            </div>
        </li>

        <!-- Components Dropdown -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#"
               data-bs-toggle="collapse" data-bs-target="#collapseComponents"
               aria-expanded="false" aria-controls="collapseComponents">
                <i class="fas fa-fw fa-cog"></i>
                <span>Components</span>
            </a>
            <div id="collapseComponents" class="collapse"
                 aria-labelledby="headingComponents"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" href="buttons.html">Buttons</a>
                    <a class="collapse-item" href="cards.html">Cards</a>
                </div>
            </div>
        </li>

        <!-- Utilities Dropdown -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#"
               data-bs-toggle="collapse" data-bs-target="#collapseUtilities"
               aria-expanded="false" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Utilities</span>
            </a>
            <div id="collapseUtilities" class="collapse"
                 aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Utilities:</h6>
                    <a class="collapse-item" href="utilities-color.html">Colors</a>
                    <a class="collapse-item" href="utilities-border.html">Borders</a>
                    <a class="collapse-item" href="utilities-animation.html">Animations</a>
                    <a class="collapse-item" href="utilities-other.html">Other</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <li class="sidebar-divider"></li>

        <li class="nav-item active">
            <div class="sidebar-heading">
                Addons
            </div>
        </li>

        <!-- Pages Dropdown -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#"
               data-bs-toggle="collapse" data-bs-target="#collapsePages"
               aria-expanded="false" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="/login">Login</a>
                    <a class="collapse-item" href="/register">Register</a>
                    <a class="collapse-item" href="/password_reset">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>

        <!-- Charts -->
        <li class="nav-item">
            <a class="nav-link" href="/charts">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span>
            </a>
        </li>

        <!-- Tables -->
        <li class="nav-item">
            <a class="nav-link" href="/tables">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span>
            </a>
        </li>

        <!-- Divider -->
        <li class="sidebar-divider"></li>
    </ul>

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</div>
<!-- End of Sidebar -->