{% extends 'main/base.html' %}


{% block content %}

<!--Password reset sent-->
<div class="row flex-center py-6 text-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <a class="d-flex flex-center mb-4" href="/"><img class="me-2" src="" alt="" width="58" /><span class="font-sans-serif fw-bolder fs-5 d-inline-block">Stock Sim</span></a>
        <div class="card">
            <div class="card-body p-4 p-sm-5">
                <h5 class="mb-0">Password Reset Sent</h5>
                <small>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</small>
            </div>
        </div>
    </div>
</div>

{% endblock %}