{% extends "main/base.html" %}

{% block content %}

<!--Password Reset Complete-->
<div class="row flex-center py-6 text-center">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card border-left-success">
            <div class="card-body p-4 p-sm-5">
                <div class="card-title">Password Reset Complete</div>
                <p class="card-text">Your password has been set. You may go ahead and log in now.</p>
                <p class="card-text"><a href="/login" class="btn btn-primary">Login</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}